<% layout('/layouts/boilerplate') %>
 <style>
        h3{
            font-size: 2rem;
            color: orangered;
            text-shadow: .5px .5px 1px black;
        }
        .edit-container{
            width: 95vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        form{
            height:100%;
            width:50%;
            margin: 5%;
       
        }
        .box{
            width: 80%;
            /* border:1px solid black; */
             display: flex;
            justify-content: space-between;
        }
        .box1{
            position: relative;   
        }
        .box1 label{
            top:0%;
        }
        .box label{
            color: rgb(125, 53, 27);
        }
        form input{
            height:2rem;
            width:80%;
            padding-left: .8rem;
        }

        textarea{
            width: 80%;
            min-width: 80%;  

            padding-left: .8rem;
            padding-top: .6rem;
        }

        .form_container{
            height: 60rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 1em;
            justify-content: space-around;
            align-items: center;
            background-color: azure;
        }

        button{
            height: 2rem;
            width: 20%;
            background-color: orangered;
            color: white;
            border-radius: 5px;
        }

        img{
            height: 50%;
            width: 80%;
        }

        
    </style>
<body>
    <div class="edit-container">
        <h3>Edit Listing </h3>
        <form class = "needs-validation"  method="post" action="/listing/<%=card._id%>?_method=patch">

        <div class = "form_container">
            <img src="<%= card.image.url%>" alt="">

            <div class = "box">
                <label for = "title">Title : </label>
                <input type="text" name = "title" placeholder = "Enter the title" value = "<%= card.title %>" required>
                <!-- <div class="valid-feedback">title looks good.</div> -->
            </div>

            <div class = "box box1">
                <label for = "description" >Info : </label>
                <textarea rows = "5" cols="10" name="description"           id="description" placeholder="write listing's description" required><%=     card.description %> </textarea>
                <!-- <div class="invalid-feedback">description is required.</div> -->
            </div>

            <div class="box">
                <label for = "price">Price : </label>
                <input type="text" name = "price" placeholder = "Enter the price" value = "<%= card.price %>" required>
                <!-- <div class="invalid-feedback">Price is required.</div> -->
            </div>

            <div class="box">
                <label for = "location">Location : </label>
                <input type="text" name = "location" placeholder = "Enter the location" value = "<%= card.location %>" required>
                <!-- <div class="invalid-feedback">Location is required !</div> -->
            </div>

            <div class="box">
                <label for = "country">Country : </label>
                <input type="text" name = "country" placeholder = "Enter the country" value = "<%= card.country %>" required>
                <!-- <div class="invalid-feedback">Country is required.</div> -->
            </div>

            <div class="box">
                <label for = "image">URL : </label>
                <input type="text" name = "image" placeholder="Enter your image URL" value = "<%= card.image.url%>" required> 
                <!-- <div class="invalid-feedback">Please upload an image.</div> -->
            </div>

            <button>Submit</button>
        </div>
        </form>
    </div>
</body>
</html>